* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    background: rgb(75, 155, 55);
    
}

nav {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

main {
    background: rgb(179, 179, 179);
}

.principal {
    display: flex;
    justify-content: space-between;
}

img {
    width: 48%;
}

.principal .titular {
    width: 48%;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.principal .titular h1 {
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 2.6rem;
    color: rgb(57, 116, 42);
    margin-bottom: 0.3em;
}

.principal .titular h2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgb(43, 88, 32);
    margin-bottom: 0.3em;
}

.principal .titular .descripcion {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.5em ;
    font-size: 1em;
    text-align: left;
}

.principal .titular button {
    background: rgb(86, 160, 52);
    padding: 1.3em;
    width: auto;
    margin-top: 1.3em;
    border-radius: 12px;
    border: none;
    color: #fff;
    box-shadow: 0px 8px 0px 0px rgb(143, 137, 137);
}

.principal .titular button:hover {
    box-shadow: 0px 5px 0px 0px rgb(143, 137, 137);
}

.principal .titular button:active {
    box-shadow:none;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
}

.titulos {
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    background: hsl(108, 47%, 24%);
    color: #fff;
    padding: 0.3em;
    margin-bottom: 2em;
}

.trabajos .trabajo {
    display: flex;
    color: white;
    margin: 0% 0% 4% 0%;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 4px 4px 10px gray;
    width: 21%;
    transition: transform  300ms;
}

.trabajos .trabajo:hover{
    transform: translate(0px, -30px) ;
}

.trabajos .trabajo figure {
    width: 100%;
}

.trabajos .trabajo figure img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
 .trabajo h3,.trabajo p {
     text-align: center;
     margin: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.green {
    background: hsl(108, 47%, 34%);
}

.greenclaro{
    background: hsl(108, 37%, 44%);
}

.greenclarito{
    background: hsl(108, 37%, 54%);
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicios h2{
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    background: hsl(108, 47%, 24%);
    color: #fff;
    padding: 0.3em;  
}

.servicios .servicio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 4%;
    background: #fff;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}

.servicios .servicio img {
    width: 49%;
    margin-right: 2%;
    border-radius: 10px;
}

.servicios .servicio .servicio-descrip{
    width: 49%;
}
.servicio h3 {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: .8em;
    text-align: center;
}

.servicio p {
    font: 1em sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.5em;
    text-align: justify;
}

.contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:1em;
}

input {
    
    margin-bottom:1em;
    padding: 20px;
    font-family: monospace;
    font-size: 1.5em;
    border: 0px solid ;
    border-radius: 7px;
}

textarea {
    border-radius: 7px;
    border: none;
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 1em;
}

input[type='button']{
    background: hsl(108, 37%, 54%);
    margin-top: 1em;
    color: white;
    font-weight: bolder;
}